<ActionBar title="TaskManager - Login" class="action-bar"></ActionBar>

<ScrollView>
  <StackLayout class="page">

    <StackLayout class="form">
      <Image src="~/images/app_icon.png"></Image>
    
      <StackLayout class="input-field">
        <Label text="Email" class="label font-weight-bold m-b-5"></Label>
        <TextField class="input" keyboardType="email" autocapitalizationType="none" autocorrect="false"></TextField>
        <StackLayout class="hr-light"></StackLayout>
      </StackLayout>

      <StackLayout class="input-field">
        <Label text="Senha" class="label font-weight-bold m-b-5"></Label>
        <TextField class="input" secure="true"></TextField>
        <StackLayout class="hr-light"></StackLayout>
      </StackLayout>
      
      <Button text="Entrar" class="btn btn-primary"></Button>
      <Button text="Criar Conta" nsRouterLink="/sign-up" pageTransition="slideTop" class="btn btn-outline"></Button>
    </StackLayout>

  </StackLayout>
</ScrollView>