<GridLayout columns="70, auto, *" rows="50, auto, *" backgroundColor="lightgray" >
  <Label text="Label 1" row="0" col="0" backgroundColor="red"></Label>
  <Label text="Label 2" row="0" col="1" backgroundColor="blue"></Label>
  <Label text="Label 2" row="0" col="2" backgroundColor="green"></Label>

  <Label text="Label 1" row="1" col="0" backgroundColor="blue"></Label>
  <Label text="Label 2" row="1" col="1" backgroundColor="green"></Label>
  <Label text="Label 2" row="1" col="2" backgroundColor="blue"></Label>

  <Label text="Label 1" row="2" col="0" backgroundColor="green"></Label>
  <Label text="Label 2" row="2" col="1" backgroundColor="red"></Label>
  <Label text="Label 2" row="2" col="2" backgroundColor="orange"></Label>
</GridLayout>















<!-- <DockLayout backgroundColor="lightgray" stretchLastChild="false">
  <Label text="left" dock="left" width="60" backgroundColor="red"></Label>
  <Label text="top" dock="top" height="60" backgroundColor="green"></Label>
  <Label text="right" dock="right" width="60" backgroundColor="blue"></Label>
  <Label text="bottom" dock="bottom" backgroundColor="yellow"></Label>
</DockLayout> -->











<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
<!-- <page-router-outlet></page-router-outlet> -->

<!-- <AbsoluteLayout>
  <label top="50" text="botão 1" left="100" backgroundColor="red"></label>
  <Button top="150" text="Eu sou um botão 2" backgroundColor="red" margin="30"></Button>
</AbsoluteLayout> -->