<ActionBar class="action-bar" title="TaskManager - Home"></ActionBar>

<ScrollView>
  <StackLayout class="page text-center m-t-30">
    <Image src="~/images/app_icon.png" style="width: 150px"></Image>

    <Label class="h2 m-t-30" text="Bem Vindo"></Label>
    <Label class="h3" text="O que deseja fazer?"></Label>

    <Button class="btn btn-primary" nsRouterLink="/tasks" text="Ver minhas tarefas"></Button>
    <Button class="btn btn-outline" text="Sair" (tap)="signOutUser()"></Button>
  </StackLayout>
</ScrollView>