<ActionBar title="TaskManager - Criar Conta" class="action-bar"></ActionBar>

<ScrollView>
  <StackLayout class="page">
    <StackLayout class="form">
      <StackLayout class="input-field">
        <Label text="Nome" class="label font-weight-bold m-b-5"></Label>
        <TextField class="input"></TextField>
        <StackLayout class="hr-light"></StackLayout>
      </StackLayout>

      <StackLayout class="input-field">
        <Label text="Email" class="label font-weight-bold m-b-5"></Label>
        <TextField class="input" keyboardType="email" autocapitalizationType="none" autocorrect="false"></TextField>
        <StackLayout class="hr-light"></StackLayout>
      </StackLayout>

      <StackLayout class="input-field">
        <Label text="Senha" class="label font-weight-bold m-b-5"></Label>
        <TextField class="input" secure="true"></TextField>
        <StackLayout class="hr-light"></StackLayout>
      </StackLayout>
      
      <StackLayout class="input-field">
        <Label text="Confirmação de Senha" class="label font-weight-bold m-b-5"></Label>
        <TextField class="input" secure="true"></TextField>
        <StackLayout class="hr-light"></StackLayout>
      </StackLayout>
    </StackLayout>
    
    <Button text="Criar Conta" class="btn btn-primary"></Button>
    <Button text="Login" class="btn btn-outline" nsRouterLink="/sign-in" pageTransition="slideBottom"></Button>
  </StackLayout>
</ScrollView>