<ActionBar title="TaskManager - Detalhes" class="action-bar"></ActionBar>

<ScrollView>
  <StackLayout class="page">
    <StackLayout class="form" [formGroup]="form">

      <!-- title -->
      <StackLayout class="input-field">
        <Label text="Título" class="label font-weight-bold m-b-5"></Label>
        <TextField class="input" formControlName="title"></TextField>
        <StackLayout class="hr-light"></StackLayout>

        <StackLayout *ngIf="form.get('title').invalid && form.get('title').dirty">
          <Label *ngIf="form.get('title').errors.required" class="text-right text-danger" text="campo obrigatório"></Label>
          <Label *ngIf="form.get('title').errors.minlength" class="text-right text-danger" text="deve ter no mínimo 2 caracteres"></Label>
          <Label *ngIf="form.get('title').errors.maxlength" class="text-right text-danger" text="deve ter no máximo 255 caracteres"></Label>
        </StackLayout>
      </StackLayout>

      <!-- description -->
      <StackLayout class="input-field">
        <Label text="Descrição" class="label font-weight-bold m-b-5"></Label>
        <TextField class="input" formControlName="description"></TextField>
        <StackLayout class="hr-light"></StackLayout>
      </StackLayout>

      <!-- deadline -->
      <StackLayout class="input-field">
        <Label text="Prazo de Entrega" class="label font-weight-bold m-b-5"></Label>
        <TextField class="input" formControlName="deadline" editable="false"></TextField>
        <StackLayout class="hr-light"></StackLayout>
      </StackLayout>

      <!-- done -->
      <GridLayout class="input-field" columns="*, auto">
        <Label col="0" text="Tarefa Feita" class="label font-weight-bold m-b-5"></Label>
        <Switch col="1" formControlName="done" class="switch"></Switch>
      </GridLayout>
      
      <!-- ActivityIndicator -->
      <ActivityIndicator [busy]="submitted" *ngIf="submitted" horizontalAlignment="center"></ActivityIndicator>
      
      <!-- buttons -->
      <Button text="Atualizar" class="btn btn-primary" [isEnabled]="form.valid && !submitted" (tap)="updateTask()"></Button>

    </StackLayout>
  </StackLayout>
</ScrollView>